/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #020e1c;
}

.bg-contrast1{
    background: #EB347E;
}

.bg-contrast2{
    background: #06E9CE;
}

.row{
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: #020e1c;
    overflow: hidden;
  }

/* preloader */

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #020e1c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19999;
    width: 100%;
    height: 100%;
}

.preloader h4{
    font-family: "DM Mono" sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    color: #fefefee0;
}

.preloader p{
    font-family: "DM Mono" sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fefefee0;
    margin-top: 1.25rem;
}

.preloader p span{
    font-size: 1.55rem;
    margin-left: 3px;
    opacity: 1;
}

.preloader p .first{
    animation-name: pointAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.preloader p .second{
    animation-name: pointAnimation;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.preloader p .third{
    animation-name: pointAnimation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes pointAnimation{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

/* header */

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.35rem 1.25rem;
    z-index: 1;
    position: fixed;
    top: 0;
}

@media (max-width: 768px){
    .header{
        padding: 1rem;
        background: #020e1c;
        /* box-shadow: 0 0 .15rem rgba(0, 0, 0, 0.1); */
    }
}

.header .icon{
    font-size: 3rem;
    padding: 0.65rem;
    align-self: center;
    color: #fafafa;
}

.header .logo{
    display: flex;
    align-items: center;
}

.header .name{
    font-family: 'DM Mono', monospace;
    font-size: 1.20rem;
    font-weight: 400;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    color: #fefefe;

}

.header .name::after{
    color: #020E1C;
    mix-blend-mode: difference;
}

.header .progress{
    width: 20%;
    margin-right: 0.30rem;
}

.ldbar path.mainline{
    stroke-width: 10;
    stroke: #EB347E;
}

/* main */

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: max-content;
    mix-blend-mode: screen;
}

.header .name::after{
    color: #020E1C;
    mix-blend-mode: difference;
}

/* section 1 */

.svgbg{
    position: absolute;
    z-index: 0;
    opacity: .8;
}

.svgbgmobile{
    display: none;
}

.main .content{
    width: 90%;
    z-index: 1;
}

.main .greeting{
    width: 12ch;
    height: max-content;
    font-size: 5rem;
    font-family: 'DM Mono', monospace;
    color: #6fbae2; 
    font-weight: 300;
    padding: 1.25rem 0;
    margin-left: 1.75rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    animation: typing 3s steps(12), blink 1s ease-in-out 3.5s infinite;
    border-right: 4px solid #fafafa;
}

@keyframes typing {
    0% {
      width: 0ch;
    }
    100% {
      width: 12ch;
    }
  }

@keyframes blink {
    0% {
        border-right: 4px solid rgba(255, 255, 255, 0);
    }
    100% {
        border-right: 4px solid rgb(194, 194, 194);
    }
}


.main .context{
    display: flex;
    align-self: flex-start;
    width: 55%;
    padding-top: 1.25rem;
    margin-left: 2.25rem;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    line-height: 2rem;

}

.fp-controlArrow.fp-next{
    border-width: 14.5px 0 14.5px 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: #11e9d0;
    border-radius: 50%;
    align-self: flex-end;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    margin-bottom: 1rem;
    box-shadow: -.8rem 0 2rem rgba(0, 0, 0, 0.8);
}

.button i{
    text-align: center;
    color: #020E1C;
    font-size: 1.5rem;
    
}

.button:hover{
    text-decoration: none;
}

/* section 2 */

.title{
    font-size: 5rem;
    z-index: 0;
    justify-self: flex-end;
    order: 1;
    float: right;
    margin-right: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #122937;
    height: 4rem;
    width: 40%;
}

.slide2.main > * {
    opacity: 0;
}

.author {
    margin: 0 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 4.7rem;
}

.avatar {
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 1rem 0.75rem;
}

.author-name {
    margin-left: 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    color: #fafafa;
}

.author-name-prefix {
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    color: #fafafa85;
    font-family: 'Roboto Condensed', sans-serif;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 3rem;
    fill: none;
    stroke: #EB347E;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.aboutMe{
    width: 42%;
    height: 16rem;
    background: #1229372f;
    border-radius: 0.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.70rem;
    padding: 1.25rem 1rem;
    color: #fafafa;
    margin-top: 1.25rem;
    margin-left: 4rem;
    box-shadow: -.8rem 0 2rem rgba(0, 0, 0, 0.6);
}

.aboutMe .hi{
    font-size: 1.7em;
    margin-right: .15rem;
}

.aboutMe .hi i{
    color: #EB347E;
    font-style: normal;
}
 
.skills{
    display: flex;
    width: 22rem;
    height: 13rem;
    background: #1229372f;
    border-radius: .75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1.25rem 1rem;
    color: #fafafa;
    box-shadow: -.8rem 0 2rem rgba(0, 0, 0, 0.6);
    align-self: flex-end;
    position: absolute;
    right: 4rem;
    bottom: 2.5rem;
    flex-direction: column;
    align-items: center;
}

.skills .skills-title{
    font-size: 1.40rem;
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fafafa85;
}

.skills .skills-info{
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-top: .75rem;
    padding: 0 .70rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills .skills-info li{
    width: 2rem;
    margin: 0 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.skills .skills-info li i{
    margin-bottom: .30rem;
    font-size: 1.15rem;
}

.skills .skills-info li .name{
    font-family: 'DM Mono', monospace;
    font-size: .75rem;
    color: #dddddd;
}

 /* section 3 */

.slide3.main{
    background: #020e1c;
    align-content: center;
}

.title3{
    font-size: 2rem;
    order: 1;
    align-self: center;
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    color: #1b1c1edc;
    margin-left: auto;
    text-align: center;
}

.card-list{
    order: 2;
    display: flex;
    width: 88%;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    align-self: center;
}

.card{
    color: #1b1c1e;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 19rem;
    margin-right: -.7rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 16px;
    border: none;
    opacity: 0;
    transition: .3s;
    box-shadow: -1rem 0 1.5rem #1b1c1e20;
    overflow: hidden;
}

.card:hover{
    transform: translateY(-1.7rem);
}

.card:hover~.card{
    transform: translateX(1rem);
}

.card .card-icon{
    font-size: 5rem;
    margin: 0;
    padding: 0;
    opacity: .2;
    justify-self: flex-start;
    position: absolute;
    left: -3px;
    top: -1.5px;
}

.card header{
    font-size: 1.25rem;
    font-family: 'DM Mono', monospace;
    margin-left: .75rem;
    margin-bottom: 1.25rem;
}

.card .info{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    height: 8rem;
    line-height: 1.6rem;
}

.card .footerCard{
    display: flex;
    flex-wrap: nowrap;
    justify-self: flex-end;
    justify-content: space-between;
    position: relative;
    bottom: .60rem;
}

.card .footerCard .tags a{
    font-size: .85rem;
    color: #1b1c1edf;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.card .footerCard .btnlink{
    color: #EB347E;
    font-size: .85rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card .footerCard .btnlink i{
    font-size: .85rem;
    margin-left: 4px;
    padding: 0;
}

 /* slide 4 */

 .svgbg4{
    display: flex;
    position: absolute;
    z-index: 0;
    right: 1px;
    bottom: 0px;
    font-size: 12rem;
    color: #00253b10;
    margin: 0;
}

.title4{
    justify-self: flex-start;
    font-size: 2.35rem;
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 2.50rem;
    margin-bottom: 1.35rem;
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    color: #1b1c1edc;
}

.line{
    margin-left: 2.75rem;
    width: 45%;
    height: 2.25px;
    border-radius: 1.12px;
    background: #1b1c1edc;
}

.contacts{
    width: 48%;
    margin-left: 2.75rem;
    padding: 0.85rem 0;
}

.contacts .line{
    margin: 0;
    height: 2.25px;
    border-radius: 1.12px;
    width: 70%;
}
.mail{
    padding: 1.35rem .50rem;
    color: #1b1c1edc;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mail .titlemail{
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 1.75rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'DM Mono', monospace;
    font-weight: 300;
}

.mail .btnmail{
    padding: 0;
    font-size: 1.10rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}

.mail .btnmail i{
    margin-left: 2px;
    font-size: .85rem;
    color: #1b1c1e65;
    transition: color .2s;
}

.mail .btnmail:hover i{
    color: #48BEFF;
}

.mail .btnmail:focus{
    outline: none;
    box-shadow: none;
}

.mail .btnmail .alert{
    display: inline-block;
    color: #48BEFF;
    font-size: .85rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    opacity: 0;
    margin-left: .25rem;
}

.social{
    margin-top: .75rem;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-family: 'DM Mono', monospace;
}

.social a{
    color: #1b1c1edc;
    margin-right: .25rem;
}

/* slide 5 */

.thanks{
    display:flex;
    position: absolute;
    bottom: 35%;
    width: 100%;
    justify-content: center;
}

.thanks h3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fefefe;
    font-size: 2.75rem;
    font-weight: 300;
    width: 30%;
}

.thanks h3 span{
    color: #EB347E;
    font-size: 4rem;
    margin-left: 2px;
    padding: 0;
}

.footer{
    width: max-content;
    align-self: flex-end;
    position: absolute;
    bottom: 2px;
    right: 1rem;
    flex-wrap: nowrap;
    color: #fefefe;
    opacity: .9;
    font-weight: 300;
    font-family: 'DM Mono', monospace;
}

.footer p i{
    color: #EB347E;
}

.backward{
    font-size: 1rem;
    align-self: flex-start;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fefefe;
    padding: .5rem 1.25rem;
    border: 1px solid #fefefe;
    opacity: .9;
    border-radius: 2rem;
    font-family: 'Roboto Condensed' sans-serif;
    transition: all .3s ease;
}

.backward i{
    margin-bottom: 2px;
}

.backward:hover{
    text-decoration: none;
    color: #fefefe;
    opacity: 1;
    cursor: pointer;
}

    
